<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body {
                font-family: Arial, sans-serif;
                line-height: 1.6;
            }
        </style>
        <title>Ayuda</title>
    </head>
    <body>
        <p>Esta es la ventana de Perfil:</p>

        <ul>
            <li><strong>Cambiar Contraseña:</strong> Aquí puedes cambiar tu contraseña. Debes escribirla por duplicado y luego pulsar en "Aceptar".</li>
        </ul>

        <h2>Elementos de la Ventana:</h2>

        <ul>
            <li><strong>Nueva Contraseña:</strong> Campo para ingresar la nueva contraseña.</li>
            <li><strong>Repetir Contraseña:</strong> Campo para repetir la nueva contraseña.</li>
            <li><strong>Aceptar:</strong> Botón para confirmar el cambio de contraseña.</li>
            <li><strong>Información Adicional:</strong> Descripción adicional sobre el proceso de cambio de contraseña.</li>
        </ul>

        <p>Recuerda que puedes utilizar los elementos de la barra de menú para acceder a otras funciones de la aplicación:</p>

        <ul>
            <li><strong>Inicio:</strong> Volver a la pantalla de inicio.</li>
            <li><strong>Menú:</strong> Acceder a diferentes secciones como Perfil, Productos, Eventos y Cerrar Sesión.</li>
            <li><strong>Ayuda:</strong> Acceder a la sección de ayuda.</li>
        </ul>

        <p>¡Esperamos que esta información te sea útil!</p>
    </body>
</html>